/*
 * Empty Stylesheet file.
 */

.beta{
    -fx-background-color: rgba(0, 0, 0, 0.3);
    
}
.Evenemets{

    -fx-text-fill: #707070;
    -fx-cursor:hand;
    
}
.Evenemets:hover{
    -fx-text-fill: #4A48FF;
    -fx-border-width:0px 0px 1px 0px ;   
      -fx-border-color: #4A48FF;

}
.logo{
-fx-effect: dropshadow(three-pass-box, rgb(2,0,252,0.5), 10, 0, 0, 0);
}

.user{
    -fx-background-radius:  20px;
}
.top{
        -fx-border-width:0.5px 0px 2px 0px ;  
        -fx-border-color: rgba(0,0,0,0.1);
}

.menuButton:hover{
    -fx-background-color: rgba(0,0,0,0.03);
}
.menuButton2:hover{
    -fx-text-fill: #4A48FF;
}
.dividorPane{
       -fx-border-width:0px 0px 2px 0px ;  
        -fx-border-color: rgba(0,0,0,0.1);
}
.MesEvenementsButton:hover{
        -fx-background-color: rgba(0,0,0,0.03);
}

.banner{
    -fx-background-color: linear-gradient(to right,#A32CDF, #106AD2);
    -fx-background-radius:  8px;

}
.visiterSiteEnLigne{
        -fx-border-radius:  15px;
        -fx-border-color:  white;
        -fx-border-width:1px 1px 1px 1px ;  

}
.EvenementSingle{
    -fx-effect: dropshadow(three-pass-box, rgb(2,0,252,0.7), 10, 0, 0, 0);
    -fx-background-radius:6px;


}
.Pagination{
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 2px 2px 2px 2px;
}
.Pagination:hover{
    -fx-background-color: rgba(0, 0, 0, 0.3);
  
}
.CenterContent{
    -fx-border-width:0px 0px 0px 0px ;
        -fx-border-color: rgba(0,255,0,1);

}
.search{
        -fx-effect: dropshadow(three-pass-box, rgb(2,0,252,0.7), 10, 0, 0, 0);

}
.comment{
    -fx-border-width:0px 0px 2px 0px ;  
     -fx-border-color: rgba(0,0,0,0.1);
}
.bike{
    -fx-border-width:1px 1px 1px 1px ;  
     -fx-border-color: rgba(0,0,0,0.2);

}